<mat-drawer-container [hasBackdrop]="true">

    <mat-drawer #drawer mode="over" style="background:url({{background}});">
        <div>
            <side-header-menu></side-header-menu>
            <app-accordion></app-accordion>
        </div>
    </mat-drawer>

    <mat-drawer-content>
        <mat-toolbar class="toolbar" color="warn">
            OUNI
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
            <header-menu style="margin-left: 80%;"></header-menu>
        </mat-toolbar>
        <get-regionsbody></get-regionsbody>
    </mat-drawer-content>
</mat-drawer-container>
